<div id ="game_{{ gameID }}" class="board">
	{% set p = 0 %}
	{% set colour = 'b' %}
	{% set drag = '' %}
	{% if gameID == 'x' %}
		{% set drag = 'ui-draggable' %}
	{% endif %}
	{% for i in 8..1  %}
		{% for j in 'a'..'h'  %}
			{% if i is divisibleby(2) %}
				{% if loop.index is divisibleby(2) %}
					{% set  squareColour = 'dark' %}
				{% else %}
					{% set  squareColour = 'light' %}
				{% endif %}
			{% else %}
				{% if loop.index is divisibleby(2) %}
					{% set  squareColour = 'light' %}
				{% else %}
					{% set  squareColour = 'dark' %}
				{% endif %}	
			{% endif %}		
			<div id="{{j}}_{{i}}" class="square {{ squareColour }} ui-droppable">
				{% if i < 3 or i > 6 %}
					{% if i == 2 %}
						{% set drag = 'ui-draggable' %}
					{% endif %}
					<div id="{{ pieces[p].id }}" class="piece {{ drag }}">{{ pieces[p].img | raw }}</div>
					{% set p = p + 1 %}
				{% endif %}
			</div>
		{% endfor %}
	{% endfor %}
</div>
<div id="choosePiece_b" class="ui-dialog" title="Choose Piece">
	<div id="pick_b_queen" class="piece choosablePiece">&#9819;</div>
	<div id="pick_b_rook" class="piece choosablePiece">&#9820;</div>
	<div id="pick_b_bishop" class="piece choosablePiece">&#9821;</div>
	<div id="pick_b_knight" class="piece choosablePiece">&#9822;</div>
</div>
<div id="choosePiece_w" class="ui-dialog" title="Choose Piece">
	<div id="pick_w_queen" class="piece choosablePiece">&#9813;</div>
	<div id="pick_w_rook" class="piece choosablePiece">&#9814;</div>
	<div id="pick_w_bishop" class="piece choosablePiece">&#9815;</div>
	<div id="pick_w_knight" class="piece choosablePiece">&#9816;</div>
</div>