{% extends '::base.html.twig' %}

{% if game is defined %}
	{% set gameID = game.id %}
{% else %}
	{% set gameID = null %}
{% endif %}

{% block body %}
	<div class="row">
	    <div class="errors col-md-6">
		</div>
	</div>
	<div class="row">
	    <div class="col-md-7">
		    {{ render(controller('CMInterfaceBundle:Game:showBoard', { 'gameID': gameID })) }}
		</div>
		<div class="col-md-5 col-sm-12">
			{% if gameID %}
				{# if game is defined else render start game options #}
				<div id="midGame">
					{{ include('CMInterfaceBundle:Game:piecesWonOrLost.html.twig', { 'wonLost': 'Lost'}) }}
					{{ include('CMInterfaceBundle:Game:chatBox.html.twig', {}) }}
					{{ include('CMInterfaceBundle:Game:midGameOptions.html.twig', {}) }}
					<br>
					{{ include('CMInterfaceBundle:Game:piecesWonOrLost.html.twig', { 'wonLost': 'Won'}) }}
				</div>
			{% else %}
				{{ include('CMInterfaceBundle:Game:newGameOptions.html.twig', {}) }}			
			{% endif %}
		</div>
	</div>
{% endblock %}
