{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
	{% stylesheets '../vendor/components/jqueryui/themes/smoothness/jquery-ui.min.css' filter='cssrewrite'  %} 
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
	{% endstylesheets %}
{% endblock %}
        
{% block body %}
	<div class="row">
	    <div class="errors col-md-6">
		</div>
	</div>
	{% if game is defined %}
		{% set gameID = game.id %}
		{% set offset = "" %}
	{% else %}
		{% set gameID = null %}
		{% if games is not empty %}
			<div class="row">
			    <div class="col-md-6 col-md-offset-3">
	    			<a id="showCurrentGames" class="btn btn-large btn-danger">You have current games!</a>
				</div>
			</div>
		{% endif %}
		{% set offset = "col-md-offset-3" %}
		<div class="row">
		    <div class="col-md-6 col-md-offset-3">
    			<a id="startGame" class="btn btn-large btn-success">Start Game</a>
			</div>
		</div>
		{{ include('CMInterfaceBundle:Game:newGameOptions.html.twig', {}) }}
	{% endif %}
	<div class="row">
	    <div class="col-md-6 {{ offset }}">
		    {{ render(controller('CMInterfaceBundle:Game:showBoard', { 'gameID': gameID })) }}
		</div>
		<div class="col-md-6 col-sm-12">
			{% if gameID %}
				<div id="midGame">
					{{ include('CMInterfaceBundle:Game:timer.html.twig', { 'timer': '1', 'timeLeft': opTime, 'pName': opponent.username}) }}
					{{ include('CMInterfaceBundle:Game:piecesWonOrLost.html.twig', { 'wonLost': 'Lost'}) }}
					{{ include('CMInterfaceBundle:Game:chatBox.html.twig', {}) }}
					{{ include('CMInterfaceBundle:Game:midGameOptions.html.twig', {}) }}
					<br>
					{{ include('CMInterfaceBundle:Game:piecesWonOrLost.html.twig', { 'wonLost': 'Won'}) }}
					{{ include('CMInterfaceBundle:Game:timer.html.twig', { 'timer': '2', 'timeLeft': userTime, 'pName': app.user.username}) }}
				</div>
			{% else %}
				<div id="piecesWon" class="row piecesWonLost hidden">
					<div class="col-md-12">
						<div class="row">
							{% for i in 1..30  %}
								<div class="col-md-2 col-sm-2 col-xs-2"></div>
							{% endfor %}
						</div>
					</div>
				</div>			
			{% endif %}
		</div>
	</div>
	{% if game is defined %}
		<div id="joiningGameDialog" class="ui-dialog">
			<h2>Joining game<span id="loadingDots"></span></h2>
		</div>
	{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '%kernel.root_dir%/../vendor/jquery/jquery/jquery.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '%kernel.root_dir%/../vendor/components/jqueryui/ui/minified/jquery-ui.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
	{% if game is defined %}
	    <script>
	    	//set game state
	    	var activePlayer = {{game.activePlayerIndex }};
	    	var inProgress = {{ game.joined |json_encode|raw }};
	    	var abstractBoard = {{ game.board.board |json_encode|raw }};
	    	var unmoved = {{ game.board.unmoved |json_encode|raw}};
	    	var enPassantAvailable = {{ game.board.enPassantAvailable |json_encode|raw}};
	    </script>
	{% endif %}
    <script type="text/javascript" src="{{ asset('bundles/cminterface/js/general.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cminterface/js/board.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cminterface/js/boardHelper.js') }}"></script>
{% endblock %}
