 {% extends '::base.html.twig' %}

 
{% block body %}
<h2>Chat with opponent:</h2>
<table>
<tr>
<td><textarea>blah blah blah</textarea></td>
<td rowspan=2><h2>Opponent:</h2></td>
</tr>
<tr>
<td></td>
</tr>
</table>
<div id="board">
	{% set p = 0 %}
	{% set colour = 'b' %}
	{% for i in 8..1  %}
		{% for j in 'a'..'h'  %}
			{% if i is divisibleby(2) %}
				{% if loop.index is divisibleby(2) %}
					{% set  squareColour = 'light' %}
				{% else %}
					{% set  squareColour = 'dark' %}
				{% endif %}
			{% else %}
				{% if loop.index is divisibleby(2) %}
					{% set  squareColour = 'dark' %}
				{% else %}
					{% set  squareColour = 'light' %}
				{% endif %}			
			{% endif %}		
			<div id="{{j}}_{{i}}" class="square {{ squareColour }} ui-droppable">
				{% if i < 3 or i > 6 %}
					<div id="{{ pieces[p].name }}" class="piece ui-draggable">{{ pieces[p].img | raw }}</div>
					{% set p = p + 1 %}
				{% endif %}
			</div>
		{% endfor %}
	{% endfor %}
</div>
<br><br>
{% endblock %}
