{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <center>
    	<h1>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h1><br>
    	<a href="{{ path('cm_start', {}) }}" class="btn btn-large btn-success" style="font-size:1.6em; padding:1%;">
    		Start Playing
    	</a>
    </center>
    {% if targetUrl %}
    	<center><h2><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></h2></center>
    {% endif %}
    {#% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}
        	<center><h2><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></h2></center>
        {% endif %}
    {% endif %#}
{% endblock fos_user_content %}
