{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
	<div id="editProfile" class="login profile">
		<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">     
		    <div class="row">
			    <div class="col-md-12">
			    	<center><span><u>Edit Profile</u></span></center>
				</div>
			</div>
			<div class="row">
			    <div class="col-md-11 col-md-offset-1">
			    	{{ form_errors(form.username) }}
				</div>
			</div>
			<div class="row">
			    <div class="col-md-3 col-xs-2">
			    	{{ form_label(form.username) }}
				</div>
			    <div class="col-md-9">
		    		{{ form_widget(form.username) }}
				</div>
			</div>
			<div class="row">
			    <div class="col-md-11 col-md-offset-1">
			    	{{ form_errors(form.email) }}
				</div>
			</div>
			<div class="row">
			    <div class="col-md-3 col-xs-2">
			    	{{ form_label(form.email) }}
				</div>
			    <div class="col-md-9">
		    		{{ form_widget(form.email) }}
				</div>
			</div>
			<div class="row">
			    <div class="col-md-11 col-md-offset-1">
			    	{{ form_errors(form.current_password) }}
				</div>
			</div>
			<div class="row">
			    <div class="col-md-3 col-xs-2">
			    	{{ form_label(form.current_password) }}
				</div>
			    <div class="col-md-9">
		    		{{ form_widget(form.current_password) }}
				</div>
			</div>
			<div class="row">
			    <div class="col-md-12">
		        	<center>
		        		<a class="btn btn-lg btn-success" href="{{ path('cm_interface_start', {}) }}">Home</a>
		        		<input class="btn btn-lg btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
		        	</center>
				</div>
			</div>
		    {{ form_rest(form) }}
		</form>
	</div>
</div>
