{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div class="errors"><center>{{ error.messageKey|trans(error.messageData, 'security') }}</center></div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    
	<div class="container">
		<div id="login" class="login">
			<div class="row">
			    <div class="col-md-12">
			    	<center><span><u>Login</u></span></center>
				</div>
			</div>
			<div class="row">
			    <div class="col-md-2 col-xs-2">
		    		<label for="username">{{ 'security.login.username'|trans }}</label>
				</div>
			    <div class="col-md-10">
		    		<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
				</div>
			</div> 
			<div class="row">
			    <div class="col-md-2 col-xs-2">
				    <label for="password">{{ 'security.login.password'|trans }}</label>
				</div>
			    <div class="col-md-10">
				    <input type="password" id="password" name="_password" required="required" />
				</div>
			</div>
			<div class="row">
			    <div class="col-md-3 col-md-offset-2">
				    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
			    	<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
				</div>
			    <div class="col-md-2 col-md-offset-5">
			    	<input type="submit" class="btn btn-lg btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
				</div>
			</div>
		</div>
	</div>
	
	<div id="loginOptions">
		<h2><u>Forgot password?</u></h2>
		<a href="{{ path('fos_user_resetting_request', {}) }}">Request Reset</a><br>
		<h2><u>Not a member?</u></h2>
		<a href="{{ path('cm_interface_play', {'name': 'Guest'}) }}">Play as Guest (quick and easy)</a><p>
		<a href="{{ path('fos_user_registration_register', {}) }}">Create Account (keep track of rating)</a>
	</div>
	
</form>
{% endblock fos_user_content %}
