{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
        
{% block body %}
	<div id="separator"></div>
	{% if game is defined %}
		{% set gameID = game.id %}
		{% set inGame = "inGame" %}
		{% if not game.over%}
			<div id="drawOffered" class="row hidden">
			    <div class="col-md-12">
			    	<center>
			    		<label>{{ opponent.username }}</label><span> has offered a draw: </span>
	    				<a id="acceptDraw" href="{{ path('cm_accept_draw', {'gameID': gameID}) }}" class="btn btn-large btn-info">Accept</a>
	    				<a id="declineDraw" class="btn btn-large btn-warning">Decline</a>
	    			</center>
				</div>
			</div>
		{% endif %}
	{% else %}
		{% set gameID = null %}
		{% set inGame = "" %}
		{% if games is not empty %}
			<div class="row {{ inGame }}">
	    		<a id="showCurrentGames" class="boardButton btn btn-large btn-danger">You have current games!</a>
			</div>
		{% endif %}
		<div class="row {{ inGame }}">
    		<a id="startGame" class="boardButton btn btn-large btn-success">Start Game</a>
		</div>
		<div id="currentGamesDialog" class="ui-dialog closeable">
			<center>
				<u><h2 class="red">Current Games</h2></u>
				{% for game in games %}
					<h2><a href="{{ path('cm_play_game', { 'gameID' : game.id })}}">{{ game.whitePlayer }} vs. {{ game.blackPlayer }}</a></h2>		
				{% endfor %}
			</center>
		</div>
	{% endif %}
	{{ include('CMAppBundle:Game:newGameOptions.html.twig', {}) }}
	<div class="row">
	    <div class="boardHolder {{ inGame }}">
		    {{ render(controller('CMAppBundle:Game:showBoard', { 'gameID': gameID })) }}
		</div>
		<div class="gameControls">
			{% if gameID %}
				<div id="midGame">
					{{ include('CMAppBundle:Game:timerAndRating.html.twig', { 'timer': '1', 'timeLeft': opTime, 'user': opponent}) }}
					{{ include('CMAppBundle:Game:piecesWonOrLost.html.twig', { 'wonLost': 'Lost'}) }}
					{{ include('CMAppBundle:Game:chatBox.html.twig', {}) }}
					{{ include('CMAppBundle:Game:midGameOptions.html.twig', {}) }}
					{{ include('CMAppBundle:Game:piecesWonOrLost.html.twig', { 'wonLost': 'Won'}) }}
					{{ include('CMAppBundle:Game:timerAndRating.html.twig', { 'timer': '2', 'timeLeft': userTime, 'user': app.user}) }}
				</div>
			{% else %}
				<div id="piecesWon" class="row piecesWonLost hidden">
					<div class="col-md-12">
						<div class="row">
							{% for i in 1..30  %}
								<div class="col-md-2 col-sm-2 col-xs-2"></div>
							{% endfor %}
						</div>
					</div>
				</div>			
			{% endif %}
		</div>
	</div>
	{% if game is defined %}
		<div id="joiningGameDialog" class="ui-dialog">
			<h3>Joining game<span id="loadingDots"></span></h3>
		</div>
		<div id="gameOverDialog" class="ui-dialog">
			<center>
				<h4 class="red"></h4>
				<p>
				<a id="acceptGameOver" class="btn btn-info">OK</a>
			</center>
		</div>
	{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '%kernel.root_dir%/../vendor/jquery/jquery/jquery.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ asset('bundles/cmapp/js/fenHelper.js') }}"></script>
	<script>
		{% if game is defined %}
	    	//set game state
	    	var gameOver = {{ game.over |json_encode|raw }};
	    	var activePlayer = {{game.activePlayerIndex }};
	    	var inProgress = {{ game.joined |json_encode|raw }};
	    	var abstractBoard = getBoardFromFEN({{ game.board.fen |json_encode|raw }});
	    	var castling = {{ game.board.castling |json_encode|raw}};
	    	var enPassant = {{ game.board.enPassant |json_encode|raw}};
	    	//set other
	    	var opChatty = {{ opChatty |json_encode|raw }};
		{% else %}
			var gameOver = false;
		{% endif %}
    </script>
    <script type="text/javascript" src="{{ asset('bundles/cmapp/js/game.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmapp/js/validationHelper.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmapp/js/board.js') }}"></script>
{% endblock %}
