<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Chess Mate{% endblock %}</title>
        {% block stylesheets %}
        	<link href="{{ asset('bundles/cminterface/css/general.css') }}" rel="stylesheet" type="text/css" />
	        {% stylesheets '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less' %} 
        		<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
	        {% endstylesheets %}
	        {% stylesheets '../vendor/components/jqueryui/themes/smoothness/jquery-ui.min.css' filter='cssrewrite'  %} 
        		<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
	        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/cminterface/images/favicon.ico') }}" />
    </head>
    <body>
		<div class="container-fluid">
    		{% if app.user %}
    			{% set subtitle = ': Welcome ' ~ app.user.username ~ '!'%}
    		{%  else %}
    			{% set subtitle = '' %}    			
    		{% endif %}
	    	<div id="header" class="row">
			   	<div class="col-md-9 col-sm-12 col-xs-12">
				   	<table>
					   	<tr>
						   	<td id="logo_td">
				    			<img id="logo" src="{{ asset('bundles/cminterface/images/logo.png') }}"/>
						   	</td>
						   	<td>
				    			<span>Chess Mate{{ subtitle }}</span>
						   	</td>
	    			  	</tr>
				   	</table>
	    		</div>
			   	<div class="col-md-3 col-sm-6 col-xs-12">
	    				{% if app.user and app.user.registered %}
					    	<div id="userOptions" class="row">
							   	<div class="col-md-6 col-sm-4 col-xs-4">
				    				<a  href="{{ path('fos_user_profile_edit', {}) }}" class="btn btn-large btn-primary">Edit Profile</a>
			    				</div>
							   	<div class="col-md-6 col-sm-4 col-xs-4">
				    				<a  href="{{ path('fos_user_security_logout', {}) }}" class="btn btn-large btn-warning">Log-out</a>
			    				</div>
			    			</div>
		    			{% elseif pieces is defined %}
					    	<div class="row">
							   	<div class="col-md-12">
			    					<a  href="{{ path('fos_user_registration_register', {}) }}" class="btn btn-large btn-primary">Register</a>
			    				</div>
			    			</div>
		    			{% endif %}
    			</div>
	    	</div>
        {% block body %}{% endblock %}
	    </div>
        {% block javascripts %}
		    {% javascripts '%kernel.root_dir%/../vendor/jquery/jquery/jquery.min.js' %}
		        <script type="text/javascript" src="{{ asset_url }}"></script>
		    {% endjavascripts %}
		    {% javascripts '%kernel.root_dir%/../vendor/components/jqueryui/ui/minified/jquery-ui.min.js' %}
		        <script type="text/javascript" src="{{ asset_url }}"></script>
		    {% endjavascripts %}
		    <script type="text/javascript" src="{{ asset('bundles/cminterface/js/board.js') }}"></script>
		    <script type="text/javascript" src="{{ asset('bundles/cminterface/js/boardHelper.js') }}"></script>
    		<script type="text/javascript" src="{{ asset('bundles/cminterface/js/general.js') }}"></script>
        {% endblock %}
    </body>
</html>
