<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Chess Mate{% endblock %}</title>
        {% block stylesheets %}
        	<link href="{{ asset('bundles/cminterface/css/general.css') }}" rel="stylesheet" type="text/css" />
	        {% stylesheets '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less' %} 
        		<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
	        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/cminterface/images/favicon.ico') }}" />
    </head>
    <body>
		<div class="container-fluid">
    		{% if name is defined %}
    			{% set subtitle = ': Welcome ' ~ name ~ '!'%}
    		{%  else %}
    			{% set subtitle = '' %}    			
    		{% endif %}
	    	<div id="header" class="row">
			   	<div class="col-md-1">
	    			<img id="logo" src="{{ asset('bundles/cminterface/images/logo.png') }}"/>
	    		</div>
			   	<div class="col-md-9">
	    			<label>Chess Mate{{ subtitle }}</label>
	    		</div>
			   	<div id="userOptions" class="col-md-2">
    				{% if name is defined %}
	    				<a  href="{{ path('fos_user_profile_edit', {}) }}" class="btn btn-large btn-primary">Edit Profile</a>
	    				<a  href="{{ path('fos_user_security_logout', {}) }}" class="btn btn-large btn-warning">Log-out</a>	
	    			{% endif %}
	    		</div>
	    	</div>
	    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
		    {% javascripts '%kernel.root_dir%/../vendor/jquery/jquery/jquery.min.js' %}
		        <script type="text/javascript" src="{{ asset_url }}"></script>
		    {% endjavascripts %}
        {% endblock %}
    </body>
</html>
