<div id="midGameOptions" class="row">
	{% set hidden = '' %}
	{% set hidden2 = '' %}
	{% if game.over%}
		{% set hidden = 'hidden' %}
	{% else %}
		{% set hidden2 = 'hidden' %}
	{% endif %}
	<div class="col-md-4 col-md-offset-2 {{ hidden2 }}">
    	<a id="startGame2" class="btn btn-large btn-success">Start New</a>
	</div>
	<div class="col-md-4">
		{% if (pChatty) %}
			{% set chat = 'Disable Chat' %}
		{% else %}
			{% set chat = 'Enable Chat' %}
		{% endif %}
    	<a id="toggleChat" href="{{ path('cm_toggle_chat', { 'gameID' : gameID, 'player' : player }) }}" class="btn btn-large btn-warning">{{ chat }}</a>
	</div>
	<div class="col-md-4">
    	<a id="offerDraw" href="{{ path('cm_offer_draw', {'gameID': gameID}) }}" class="btn btn-large btn-success {{ hidden }}">Offer Draw</a>
	</div>
	<div class="col-md-4">
    	<a id="resign" href="{{ path('cm_resign_game', {'gameID': gameID}) }}" class="btn btn-large btn-danger {{ hidden }}">Resign</a>
	</div>
</div>	