{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
	{% stylesheets '../vendor/components/jqueryui/themes/smoothness/jquery-ui.min.css' filter='cssrewrite'  %} 
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
	{% endstylesheets %}
{% endblock %}
        
{% block body %}
	<div id="separator"></div>
	{% set gameID = null %}
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
		    {{ render(controller('CMAppBundle:Game:showBoard', { 'gameID': gameID })) }}
		</div>
		<div class="col-md-6 col-sm-12">
			<div id="midGame">
				<div class="row timer">
					<div class="col-md-12">
						<h1><span>Stockfish</span><label>(Easy)</label>: &nbsp;</h1>
					</div>
				</div>
				{{ include('CMAppBundle:Game:piecesWonOrLost.html.twig', { 'wonLost': 'Lost'}) }}
				<div id="midGameOptions" class="row">
					<div class="col-md-4">
				    	<a id="restart" class="btn btn-large btn-warning">Restart</a>
					</div>
					<div class="col-md-4">
				    	<a href="{{ path('cm_start', {}) }}" class="btn btn-large btn-danger">Quit</a>
					</div>
				</div>	
				{{ include('CMAppBundle:Game:piecesWonOrLost.html.twig', { 'wonLost': 'Won'}) }}
				<div class="row timer">
					<div class="col-md-12">
						<h1><span>{{ user.username }} </span><label>({{ user.rating }})</label>: &nbsp;</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '%kernel.root_dir%/../vendor/jquery/jquery/jquery.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '%kernel.root_dir%/../vendor/components/jqueryui/ui/minified/jquery-ui.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
	<script>
		var gameOver = false;
    </script>
    {#<script type="text/javascript" src="{{ asset('bundles/cmapp/js/game.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('bundles/cmapp/js/validationHelper.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmapp/js/board.js') }}"></script>
    <script type="text/javascript">
    	//load computer opponent in separate thread
	    $(document).ready(function(){
		    //stockfish.js is an emscripten c++ to javascript port
	    	var worker = new Worker('{{ asset('bundles/cmapp/js/Stockfish/stockfish.js') }}');
	    });
    </script>
    <script type="text/javascript" src="{{ asset('bundles/cmapp/js/computer.js') }}"></script>
{% endblock %}